{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-col-sm-10">
    <h3 class="text-white my-5">About Our Mini Blog</h3>
    <div class="about-content">
        <p>Welcome to our Mini Blog! Discover stories, share experiences, and engage with a community passionate about diverse topics.</p>

        <p>Explore insightful content crafted by our talented contributors. Join us in creating a space where ideas flourish and connections thrive.</p>
    </div>
</div>
{% endblock content %}
