{% extends 'blog/base.html' %}
{% load static %}
{%  block content %}

<div class="col-col-sm-10">
    <h3 class="text-white my-5">About page</h3>
   <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero non ipsam quaerat dignissimos provident? 
    Corporis minima pariatur mollitia rem voluptatibus assumenda error laborum dolores.
     Exercitationem minus nihil amet illo eos.</p>

     <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Delectus nulla dicta adipisci autem voluptates molestiae dolorem, 
        dolor ea assumenda nihil inventore veritatis, consequuntur,
         voluptatibus tempore reiciendis culpa alias necessitatibus. 
        Facere?</p>

</div>
{% endblock content %}