 {% extends 'blog/base.html' %}
 {% load static %}
 {% block content %}
 <div class="col-sm-10">
  {% if messages %}
  {% for message in messages %}
  <p {% if message.tags %}class=" alert alert-{{message.tags}}" {% endif %}> {{message}}</p>
 {% endfor %}
 {% endif %}
  

    <form action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Add" class="btn btn-danger">
      <a href="{% url 'dashboard' %}" class="btn btn-success"> Cancel</a>
    </form>
 </div>
 {% endblock content %}