{% extends 'blog/base.html' %}
{% load static %}

{% block msg %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock msg %} 

{% block side %}
    <div class="col-sm-12 col-md-4 my-3">
        <div class="card bg-dark text-white p-3">
            <h5 class="card-title" style="color: blue">Profile</h5> <!-- Change title color here -->
            <hr class="bg-white">
            <div class="mb-4">
                <p>Name: {{ full_name }}</p>
                {% for group in groups %}
                    <p>Group: {{ group.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock side %}

{% block content %}
       <div class="col-sm-12 col-md-8">
        <h3 class="text-white my-5">Dashboard page</h3>
        <a href="{% url 'addpost' %}" class='btn btn-success'>Add Post</a>
        <h4 class="text-center alert alert-info mt-3" style="color: green">Show Post Information</h4> <!-- Change title color here -->
        {% if posts %}
            <table class="table table-hover bg-btn-black">
                <thead>
                    <thead>
                        <tr class="text-center">
                            <th scope="col" style="width:2%">Id</th>
                            <th scope="col" style="width:28%">Title</th>
                            <th scope="col" style="width:55%">Description</th>
                            <th scope="col" style="width:15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <th scope="row" style="color: gray">{{ forloop.counter }}</th> <!-- Set counter color to blue -->
                                <td style="color: purple">{{ post.title }}</td> <!-- Set title color to green -->
                                <td style="color: blue">{{ post.description }}</td> <!-- Set description color to red -->
                                <td class="text-center">  
                                    <a href="{% url 'updatepost' post.id %}" class="btn btn-primary btn-sm mb-1">Edit</a> 
                                    {% if perms.blog.delete_post %} 
                                        <!-- Button to trigger modal -->
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ post.id }}">
                                            Delete
                                        </button>
                                    {% endif %}
                                </td>         
                            </tr>
                        {% endfor %}
                    </tbody>
                    
            </table>
        {% else %}
            <h4 class="text-center alert alert-warning">NO RECORDS</h4>
        {% endif %}

    </div>
{% endblock content %}
